body {
  text-align: center;
  background-image: url("./karmic2.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  height: 1350px;
}
.home {
  text-align: center;
  font-size: 2.5em;
  font-family: 'Times New Roman', Times, serif;
  color: red;
  text-shadow: black 1px 1px;
  font-weight: bold;
  

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
h2 {
  color:purple;
}
.log {
  display: flex;
  justify-content: center;

  text-align: center;
  color: yellow;
  font-size: 2em;
  font-family: cursive;
}
.sign {
  text-align: center;
  color: yellow;
  font-size: 2em;
  font-family: cursive;
}
.email {
  color: yellow;
}
.pass {
  color: yellow;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bio {
  display: flex;
  flex: wrap;
  color: white;
}