

  ul.headerul {
    padding: 20px;
    margin: 0;
    background-color: grey;
    background-size: 100% 100%;
  }

.headerdiv {
  background-color: black;
  }

  h1 {
    margin-top: 0px;
  }

  .headerul {
  display: flex;
  height: 100%;
  flex-direction: row;
  align-items: center;
  font-size: 1.4em;
  align-self: center;
  justify-content: center;
  background-color: gray;    
  }

  .light { background-color: black; color: white;}
  .spot1 { left: 40%; animation: move 5s infinite ;}
  .spot2 { left: 53%; animation: move2 5s infinite ;}
  .spotlight {
  position: absolute;
	width: 53px;
	height: 0px;
  border-top: 500px solid rgba(255,255,255,0.25);
  border-left: 40px solid transparent;
  border-bottom: 0px solid #575;
  border-right: 40px solid transparent;
  background-color: transparent;
  transform-origin: 50% 100% 0;
  z-index: 0; 
  }

 @keyframes move {
  0%  { 
    transform: rotate(30deg);
  }
  50% {
    transform: rotate(-30deg);
  }
  100% {
    transform: rotate(30deg);
  }
}

 @keyframes move2 {
  0%  { 
    transform: rotate(-30deg);
  }
  50% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(-30deg);
  }
}

  li {
    align-items: center;
    list-style-type: none;
    font-size: 13px;
    padding: 10px;
  }

  a {
    color: black;
    font-family: 'Staatliches', cursive;
    text-decoration: none;    
    }
    
    a:hover {
      color: rgb(125, 173, 245);
    }

.karaokeicondiv {
  padding-top: 50px;
}

.signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 1000px;
  background-image: url("./dark-brick.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  min-height: 100%;
  font-family: 'Staatliches', cursive;  
}

.login {  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 1000px;
  background-image: url("./dark-brick.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  min-height: 100%;
  font-family: 'Staatliches', cursive;  
}

.loginemail, .loginpass, .loginbutton, .login, .loginform {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-bottom: auto;
  text-align: center;
}

.loginbutton {
  font-family: 'Staatliches', cursive;
  font-size: 12px;
  padding: 3px;
  width: 60px;
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  background-color: rgb(179, 164, 194);
  text-align: center; 
  margin: auto;  
 
  border-radius: 3px;
  border: white;
  border-style: hidden;
  box-shadow: 0px 0px 14px #a9c3f7;
}

.loginbutton:hover {
  font-family: 'Staatliches', cursive;
  font-size: 12px;
  padding: 3px;
  width: 60px;
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  background-color: rgb(125, 173, 245);
  text-align: center; 
  margin: auto;  
 
  border-radius: 3px;
  border: white;
  border-style: hidden;
  box-shadow: 0px 0px 14px #a9c3f7;
}

.linkdiv {
  margin-top: 30px;
}
.loginlink {  
  font-size: 12px;
  color: rgba(255, 255, 255, 0.438);  
}

.email, .pass, input, .signupbutton, .submitform {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-bottom: auto;
  text-align: center;
}

input {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-self: center;
  justify-content: center;
  font-family: 'Staatliches', cursive;
  margin-bottom: 15px;
  
  border-radius: 3px;
  border: white;
  border-style: hidden;
  box-shadow: 0px 0px 14px #a9c3f7;
  width: 200px;
  height: 20px;
}

.signupbutton {
  font-family: 'Staatliches', cursive;
  font-size: 12px;
  padding: 3px;
  width: 60px;
  display: flex;
  flex-direction: column;
  padding-left: 14px;
  background-color: rgb(179, 164, 194);
  text-align: center; 
  margin: auto;  
 
  border-radius: 3px;
  border: white;
  ;
  border-style: hidden;
  box-shadow: 0px 0px 14px #a9c3f7;
}

.signupbutton:hover {
  font-family: 'Staatliches', cursive;
  font-size: 12px;
  padding: 3px;
  width: 60px;
  display: flex;
  flex-direction: column;
  padding-left: 14px;
  background-color: rgb(125, 173, 245);
  text-align: center; 
  margin: auto;  
 
  border-radius: 3px;
  border: white;
  border-style: hidden;
  box-shadow: 0px 0px 14px #a9c3f7;
}

.home {
  height: 1000px;
  background-image: url("./dark-brick.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  min-height: 100%;
  font-family: 'Staatliches', cursive;

 font-weight: 50;
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 30px;
  font-weight: thin; 
}

.topofhome {
font-family: 'Staatliches', cursive;
font-size: 13px;
font-weight:50;
padding: 30px;
} 

.home-instructions {
  margin-top: 200px;
  font-size: 15px;
}

.namebutton {
  font-family: 'Staatliches', cursive;
  border: none;
  border-radius: 4px;
  background-color: rgb(179, 164, 194);  
}

.namebutton:hover {
  font-family: 'Staatliches', cursive;
  background-color: rgb(125, 173, 245);
  box-shadow: 5 5 5 #697da7;
}

.stagename {
  position: 50%;
  font-family: 'Monoton', cursive;
  font-size: 65px;
  color: rgb(255, 255, 255);
  text-shadow: 0px 0px 50px rgb(177, 99, 250);
  font-weight: 50;
}

.favorites {
  height: 1000px;
  background-image: url("./dark-brick.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  min-height: 100%;
  font-family: 'Staatliches', cursive;

  font-weight: 50;
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 30px;
  font-weight: thin;   
}

.favoritesdiv {
  display: flex;
  justify-items: center;
  flex-direction: column;
  padding-top: 30px;
  align-items: center;
  margin: 0px;
}

.favoriteslinkitem {
  font-size: 16px;
  color:white;
}

.favoriteslist {
  font-size: 14px;
  color:white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-bottom: 20px;
  padding-right: 50px;
}

.trash {
  font-family: 'Staatliches', cursive;
  font-size: 12px;
  border: none;
  border-radius: 2px;
  background-color: rgb(179, 164, 194);  
  margin-top:15px;
  align-self: center;
  align-items: center;
  vertical-align: auto;
}

.trash:hover {
  font-family: 'Staatliches', cursive;
  font-size: 12px;
  background-color: rgb(125, 173, 245);
}

.trashicon {
  align-content: center;
 vertical-align: center;
}

.video-page {
  height: 1000px;
  background-image: url("./purple-blue-stage-wide.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  min-height: 100%;
display: flex;
justify-content: center;
align-content: center;
}

form {
display: flex;
flex-direction: column;
justify-content: center;
}

iframe {
margin-top:60px;
}

.favoritevideobuttondiv {
  display: flex;
  justify-content:center;
  align-content: center;
}

.favoritevideobutton {
  font-family: 'Staatliches', cursive;
  font-size: 14px;
  border: none;
  border-radius: 2px;
  background-color: rgb(179, 164, 194);  
  margin-top:45px;
  align-self: center;
}

.favoritevideobutton:hover {
  font-family: 'Staatliches', cursive;
  font-size: 14px;
  border: none;
  border-radius: 2px;
  background-color: rgb(125, 173, 245);  
  margin-top:20px;
  align-self: center;
}

.reloadVideoButton {
  display: flex;
  justify-content:center;
  align-content: center;
}

.videobutton {  
  font-family: 'Staatliches', cursive;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  background-color: rgb(179, 164, 194);
  padding: 15px;
  margin-top:20px;
  align-self: center;
}

.videobutton:hover {
  font-family: 'Staatliches', cursive;
  font-size: 16px;
  background-color: rgb(125, 173, 245);  
}

.aboutus {
  
  height: 100%;
  background-image: url("./dark-brick.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  min-height: 100%;
  font-family: 'Staatliches', cursive;

 font-weight: 50;
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 30px;
  font-weight: thin; 
}

.about-title {
  font-size: 36px;
  text-shadow: 0px 0px 0px rgb(120, 152, 215);
  margin-bottom: 25px;
  font-weight: 50;
}

.bio {
  font-size: 13px;
 font-weight: thin;
  color: white;
  display: flex;
  flex: wrap;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 50px;
  line-height: 140%;
}

.icons{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  vertical-align: center;

}

.twitterlogo {
  margin-left: 10px;
  margin-right: 10px;
}

.linkedinlogo {
  margin-right: 10px;  
}

.githublogo {
  margin-left: 10px;
}

.ethanaboutus {
  padding:30px;
}

h3 {
  position: relative;
  margin-bottom: 0;
  padding: 0;
  font-weight: 50;
}

.profileimg{
display: flex;
height: 120px;
box-shadow: 0px 0px 35px rgba(148, 148, 149, 0.839);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

h2 {
  color:rgb(255, 255, 255);
  padding-top: 30px;
}

.log {
  display: flex;
  justify-content: center;

  text-align: center;
  color: yellow;
  font-size: 2em;
  font-family: cursive;
}
.sign {
  text-align: center;
  color: yellow;
  font-size: 2em;
  font-family: cursive;
}

.email {
  color: yellow;
}

.pass {
  color: yellow;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.glow {
  border: 4px dashed rgb(90, 14, 151);
  animation: glow .4s infinite alternate;
}

@keyframes glow {
  from {
    box-shadow: 0 0 40px -10px rgb(90, 14, 151);
  }
  to {
    box-shadow: 0 0 40px 20px rgb(90, 14, 151);
  }
}
